<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Listar eventos de reposição</title>
</head>
<body style="padding:20px">
    <h3>Eventos de Reposição do IVM {{ ivm }}</h3>
{% if cursor1 and cursor2 %}
    <table border="2px">
        <thead>
            <tr>
                <th>EAN</th>
                <th>NRO</th>
                <th>Numero de série</th>
                <th>Fabricante</th>
                <th>Unidades</th>
                <th>TIN</th>
                <th>Instante</th>
            </tr>
        </thead>
        <tbody>
            {% for record in cursor1 %}
                <tr>
                    <td>{{ record[0] }}</td>
                    <td>{{ record[1] }}</td>
                    <td>{{ record[2] }}</td>
                    <td>{{ record[3] }}</td>
                    <td>{{ record[4] }}</td>
                    <td>{{ record[5] }}</td>
                    <td>{{ record[6] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <h1></h1>
    <h3>Unidades repostas por categoria da IVM {{ ivm }}</h3>
    <table border="2px">
        <thead>
            <tr>
                <th>Categoria</th>
                <th>Unidades Repostas</th>
            </tr>
        </thead>
        <tbody>
            {% for record in cursor2 %}
                <tr>
                    <td>{{ record[0] }}</td>
                    <td>{{ record[1] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


{% else %}
    <p> Erro: não foi possível obter dados da base de dados!</p>
{% endif %}
<a href="home">Menu Inicial </a>
</body>
</html>