<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Super-Categorias</title>
</head>
<body>
        <h3>Escolher Super-Categoria</h3>
        <form action="listar_sub_categorias" method="post">
            <select name="super_categoria" id="super_categoria">
                {% for record in cursor %}
                    <option value="{{ record[0] }}">{{ record[0] }}</option>
                {% endfor %}
            </select>
            <p><input type="submit" value="Confirmar"/></p>
        </form>
        <a href="home">Menu Inicial </a>
</body>
</html>