<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Lista retalhistas - Flask</title>
</head>
<body style="padding:20px">
{% if cursor %}
    <table border="2px">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            {% for record in cursor %}
                <tr>
                    <td>{{ record[0] }}</td>
                    <td><a href="">Eliminar</a></td>
                </tr>
            {% endfor %}
            <tr>
                <td><a href="">Adicionar Categoria</a></td>
            </tr>
        </tbody>
    </table>
{% else %}
    <p> Erro: não foi possível obter dados da base de dados!</p>
{% endif %}
</body>
</html>